@model Web_1D2C.Models.LOAI

@{
    ViewBag.Title = "Sualoai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
   
}

<h2>Sửa Loại</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaLoai)

        <div class="form-group">
            Tên Loại
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="form_username"> Nhà Sản Xuất</label>
            @Html.DropDownList("MaNSX", null, new { @class = "form-control" })
            <div class="col-md-10"></div>
        </div>
        @*<div class="form-group">
                Nhà Sản Xuất
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NHASAXUAT.TenNSX, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NHASAXUAT.TenNSX, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-info" type="submit" style="border:none; background-color:blue;width:100px" value="Sửa" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Loai")
</div>
