@model Web_1D2C.Models.SANPHAM
@{
    ViewBag.Title = "Xoasp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/venobox.css" rel="stylesheet" />
    <link href="~/Content/infoShoes.css" rel="stylesheet" />
}

<h2 style="text-align:center;color:blue">Thông tin chi tiết</h2>

<div class="container-fluid">
    <div class="wrapper row">
        <div class="preview col-md-6">
            <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1"><img src="@Url.Content("~/Images/"+ Model.Anhbia)" style="height:600px" /></div>
                <div class="tab-pane" id="pic-2"><img src="@Url.Content("~/Images/"+ Model.Anhbia)" /></div>
                <div class="tab-pane" id="pic-3"><img src="@Url.Content("~/Images/"+ Model.Anhbia)" /></div>
                <div class="tab-pane" id="pic-4"><img src="@Url.Content("~/Images/"+ Model.Anhbia)" /></div>
            </div>

            <ul class="preview-thumbnail nav nav-tabs">
                <div class="logo__small-img"></div>
                <div class="menu-img"><span></span></div>
                <li class="active">

                    <a data-target="#pic-1" data-toggle="tab"><img src="@Url.Content("~/Images/"+ Model.Anhbia)" /></a>
                </li>
                <li>
                    <a data-target="#pic-2" data-toggle="tab"><img src="@Url.Content("~/Images/"+ Model.Anhbia)" /></a>
                </li>
                <li>
                    <a data-target="#pic-3" data-toggle="tab"><img src="@Url.Content("~/Images/"+ Model.Anhbia)" /></a>
                </li>
                <li>
                    <a data-target="#pic-4" data-toggle="tab"><img src="@Url.Content("~/Images/"+ Model.Anhbia)" /></a>
                </li>
            </ul>
        </div>

        <div class="details col-md-3">

            <h3 class="product-title">@Html.DisplayFor(model => model.Tensp)</h3>

            <div class="rating">

                <div class="stars">
                    <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>
                </div> <span class="review-no">123 đánh giá</span>
            </div>

            <h4 class="price">Giá bán: @String.Format("{0:0,0}", Model.Giaban) VND</h4>
            <h6 class="producer-info"> <b>Nhà sản xuất:</b> @Html.DisplayFor(model => model.NHASAXUAT.TenNSX)</h6>

            <h6 class="category"> <b>Danh Mục:</b> @Html.DisplayFor(model => model.LOAI.TenLoai)</h6>

            <h6> <b>Loại:</b> Rep</h6>

            <h6 class="content">
                <b>Mô Tả:</b> @Html.DisplayFor(model => model.Mota)
            </h6>

            <h5 class="sizes">
                Kích cỡ:
                <span class="size" data-toggle="tooltip" title="small">36</span>
                <span class="size" data-toggle="tooltip" title="medium">37</span>
                <span class="size" data-toggle="tooltip" title="large">38</span>
                <span class="size" data-toggle="tooltip" title="xtra large">39</span>
                <span class="size" data-toggle="tooltip" title="big-1">40</span>
                <span class="size" data-toggle="tooltip" title="big-2">41</span>
                <span class="size" data-toggle="tooltip" title="big-3">42</span>
                <span class="size" data-toggle="tooltip" title="big-4">43</span>
            </h5>
            <p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @*<button class="btn btn-info" type="submit" style="border:none; background-color:red"></button>*@
                    <input class="btn btn-info" type="submit" style="border:none; background-color:red;width:100px" value="Xóa" />
                    <a href="@Url.Action("Sanpham", "Admin")" class="btn btn-info" role="button" style="width:100px">Trở về</a>
                }

            </p>
        </div>
    </div>
 
</div>

